.container{
    display: flex;
    justify-content: center;
}

#b{
    border: 20px solid greenyellow;
    width: 250px;
    height: 250px;
    font-size: 22px;
    padding: 20px;
    background-color: darkred;
    color: white;
    /* border-image: url('marco.jpg') 120 stretch; */
    border-image-source: url('marco.jpg');
    border-image-slice: 25%;
    border-image-repeat: repeat round;
    border-image-width: 30px;
    border-image-outset: 10px;

}