.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnas{
    column-count: 3;
    column-gap: 20;
    /* column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: red; */
    column-rule: 2px solid darkmagenta;
}

h1{
    column-span: all;
}