.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.efectos1{
    font-size: 75px;
    /* color: white;
    text-shadow: 1px 1px 5px black, 0 0 22px red; */
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 3px;
    color: darkslateblue;
    text-shadow: black 3px 3px 1px;
}

.efectos2{
    background-color: coral;
    width: 450px;
    height: 150px;
    font-size: 70px;
    box-shadow: 10px 20px 20px red;
}

.efectos3{
    background-color: coral;
    width: 450px;
    height: 150px;
    font-size: 70px;
    box-shadow: black 0px 3px 10px 1px inset;
}

.tarjeta{
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px;
}

.numero{
    background-color: darkred;
    color: white;
    padding: 10px;
    font-size: 50px;
}

.titulo{
    padding: 5px;
}